<div id="nav-header">
	<br />
	<h1>News & Announcements</h1> 
	<% if can? :create, Announcement %>
		<h3 class="title">(<%= link_to 'New Announcement', new_announcement_path %>)</h3>
	<% end %>
</div>
<br />
<% if !@announcements.empty? %>	
<div>
<table class="datagrid" style="text-align: center; margin-left: auto; margin-right: auto">
	<thead class="datagrid">
		<th>Title</th>
		<th>Date</th>
		<% if can? :modify, @announcement %>
			<th>Active</th>
			<th></th>
			<th></th>
		<% end %>
	</thead>

	<% @announcements.each do |announcement| %>
	<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= link_to announcement.title, announcement %></td>
		<td><%= show_date(announcement.start_date, announcement.end_date) %></td>
		<% if can? :modify, @announcement %>
			<td><%= announcement.active %></td>
			<td><%= link_to image_tag('edit.png', :border => 0, :size => "20x20"), edit_announcement_path(announcement) %></td>
			<td><%= link_to image_tag('trash.gif', :border => 0, :size => "20x20"), announcement, :confirm => 'Are you sure?', :method => :delete  %></td>
			<!-- Alternative method of deleting. -->
			<!-- <td><%# button_to "Delete", announcement, :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?" -%></td> -->
		<% end %>
	</tr
	<% end %>
</table>

<% else %>

	<p>There are no announcements.</p>
	
<% end %>
</div>