<h1>Listing announcements</h1>


<table class="datagrid">
	<thead class="datagrid">
		<th>Content</th>
		<th>Start date</th>
		<th>End date</th>
		<th>Active</th>
		<th></th>
		<th></th>
		<th></th>
	</thead>

	<% @announcements.each do |announcement| %>
	<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= announcement.content %></td>
		<td><%= announcement.start_date %></td>
		<td><%= announcement.end_date %></td>
		<td><%= announcement.active %></td>
		<td><%= link_to 'Show', announcement %></td>
		<td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
		<td><%= button_to "Delete", announcement, :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?" %></td>

	</tr>
	<% end %>
</table>

<br />
<% if can? :create, Announcement %>
	<%= link_to 'New Announcement', new_announcement_path %>
<% end %>