<p>
  <b>Content:</b>
  <%= raw(@announcement.content) %>
</p>

<p>
  <b>Date:</b>
  <%= show_date(@announcement.start_date, @announcement.end_date) %>
</p>
<% if can? :modify, @announcement %>
<p>
  <b>Active:</b>
  <%= @announcement.active %>
</p>
<% end %>
<%= link_to 'Back', :back %>

<% if can? :modify, @announcement %>
	<%= link_to 'Edit', edit_announcement_path(@announcement) %>
<% end %>