<h1>Listing positions</h1>

<table class="datagrid">
	<thead class="datagrid">
		<th>Name</th>
		
		<th>Zone</th>
		<% if can? :modify, Position %>
			<th></th>
			<th></th>
		<% end %>
	</thead>

	<% @positions.each do |position| %>
	<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= link_to position.name, position %></td>
		<td><%= link_to position.zone.name, position.zone %></td>
		
		<% if can? :modify, position %>
			<td><%= link_to image_tag('edit.png', :border => 0, :size => "20x20"), edit_position_path(position) %></td>
			<td><%= link_to image_tag('trash.gif', :border => 0, :size => "20x20"), position, :confirm => 'Are you sure?', :method => :delete  %></td>
			
		<% end %>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Position', new_position_path %>
