<h1>Listing positions</h1>

<table class="datagrid">
	<thead class="datagrid">
		<th>Name</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
	</thead>

	<% @positions.each do |position| %>
	<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= position.name %></td>
		<td><%= position.description %></td>
		<td><%= link_to 'Show', position %></td>
		<td><%= link_to 'Edit', edit_position_path(position) %></td>
		<td><%= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Position', new_position_path %>
