<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @registration.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @registration.event_id %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
