<table width="100%" cellspacing="0" cellpadding="0"> 
	<tr> 
		<td align="center" border="2">
			<table style="text-align: center; margin-left: auto; margin-right: auto; padding-left: 30px">
				<tr>
					<td style="text-align: center">
						<%= image_tag("tech.jpg", :width => 450) %>
					</td>
					<td>
						<table width="50%">
							<tr> 
								<td align="left" style="color: black;"> 
									<strong>Chapter Address:</strong><br /> 
									Carnegie Mellon University - NSBE<br /> 
									4910 Forbes Ave<br /> 
									Cyert Hall A-64<br /> 
									Pittsburgh, PA 15213<br /> 
									nsbe@andrew.cmu.edu
								</td> 
								<td width="35%" align="center"> 
									<%= link_to image_tag("suggestionbox.gif", :id => "suggestion"), "#contact_us" %>
								</td>
							</tr>
						</table> 
					</td>
				</tr>
			</table>
		</td> 
	</tr> 
	<tr> 
		<td valign="top" align="center" colspan="2">
			<hr color="#660000" size="2" width="90%" />  
			<br>	
			<table bgcolor="white" width="90%" height="300" cellPadding="0" cellSpacing="0" border="0" align="center"> 
				<tr> 
					<td colspan="3" bgcolor="#660000" valign="top" height="230"> 
						<table id="contact_information" border="0" width="100%" cellPadding="3" cellSpacing="1"> 
							<tr> 
								<td>Position</td> 
								<td>Name</td> 
								<td>Email</td> 
							</tr> 
							<% @zones.each do |z| %>
							<tr class="zones"> 
								<td colspan="3"><%= z.name %></td> 
							</tr> 
							<% @positions = Position.current.by_zone(z.id) %>
								<% @positions.each do |p| %>
									<% @members = PositionMember.eboard.by_position(p.id) %>
									<% if @members.empty? %>
									<tr class="members"> 
										<td><%= link_to(p.name, position_path(p)) %></td> 
										<td><em>Vacant</em></td> 
										<td>&nbsp;</td> 
									</tr>
									<% else %>
										<% @members.each do |m| %>
										<tr class="members"> 
											<td><%= link_to(m.position.name, position_path(m.position)) %></td> 
											<td><%= link_to(raw("<strong>#{m.user.nice_name}</strong>"), show_profile_path(m.user.id)) %></td> 
											<td><%= m.position.email %></td> 
										</tr>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						</table> 
					</td> 
				</tr> 
			</table> 
		</td> 
	</tr>  
</table>
<br />
<hr color="#660000" size="2" width="90%"> 
