<table>
	<tr>
		<td><%= image_tag 'founders/aharris.jpg', :border => 0 %></td>
		<td><%= image_tag 'founders/bharris.jpg', :border => 0 %></td>
		<td><%= image_tag 'founders/ecoleman.jpg', :border => 0 %></td>
		<td><%= image_tag 'founders/skirtley.jpg', :border => 0 %></td>
		<td><%= image_tag 'founders/gsmith.jpg', :border => 0 %></td>
		<td><%= image_tag 'founders/flame.gif', :border => 0, :width => 73 %></td>
	</tr>
</table>
<br />		
NSBE is The National Society of Black Engineers. It was founded at Purdue University in 1975 by six people: (the late) John Logan, Edward Coleman, George Smith, Stan Kirtley, Brian Harris, and Anthony Harris. They were coined 'The Chicago Six.'