<table id="sponsors-listing">
	<tr>
		<td colspan="3"><h1>Our Sponsors:</h1></td>
	</tr>
	<tr>
		<td colspan="3"><%= image_tag 'sponsors/cmarc.jpg', :width => 250 %></td>
	</tr>
	<tr>
		<td><%= image_tag 'sponsors/intel.jpg', :width => 172 %></td>
		<td><%= image_tag 'sponsors/lockheed.jpg', :width => 172 %></td>
		<td><%= image_tag 'sponsors/morgan.jpg', :width => 172 %></td>
		
	</tr>
	<tr>
		<td><%= image_tag 'sponsors/procter.jpg', :width => 172 %></td>
		<td><%= image_tag 'sponsors/schlumberger.jpg', :width => 172 %></td>
		<td><%= image_tag 'sponsors/boeing.jpg', :width => 172 %></td>
	</tr>
	<tr>
		<td><%= image_tag 'sponsors/xerox.jpg', :width => 172 %></td>
		<td><%= image_tag 'sponsors/cisco.gif', :width => 172 %></td>
		<td><%= image_tag 'sponsors/bp.jpg', :width => 172 %></td>
	</tr>
	<tr>
		<td colspan="3"><%= image_tag 'sponsors/cit.jpg', :width => 250 %></td>
	</tr>
<table>