<h1 id="nav-header">About NSBE</h1>
<script>
$(function() {
	$( "#tabs" ).tabs();
});
</script>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Mission & Objectives</a></li>
		<li><a href="#tabs-2">Our Chapter</a></li>
		<li><a href="#tabs-3">Quick Facts</a></li>
		<li><a href="#tabs-4">Brief History</a></li>
		<li><a href="#tabs-5">Founding Fathers</a></li>
		<li><a href="#tabs-6">Sponsors</a></li>		

	</ul>
	<div id="tabs-1">		
		<%= render :partial => 'mission' %>
	</div>
	<div id="tabs-2">
		<%= render :partial => 'about_us' %>
	</div>
	<div id="tabs-3">
		<%= render :partial => 'facts' %>
	</div>
	<div id="tabs-4">
		<%= render :partial => 'history' %>
	</div>
	<div id="tabs-5">
		<%= render :partial => 'fathers' %>
	</div>
	<div id="tabs-6">
		<%= render :partial => 'sponsors' %>
	</div>
</div>
