<script>
$(function() {
	$('#suggestion').animate({ 
		scrollTop: $('#contact_us').offset().top 
		}, 3000);
	});
</script>
<h1 id="nav-header">Contact Us</h1>
<%= render :partial => 'executive_board' %>


<div id="contact_us" style="margin-left: auto; margin-right: auto; text-align: center;">
	<h1>Send Us A Message:</h1>
<%= form_tag :action => 'send_contact_message', :method => "post" do %>
<table style="margin-left: auto; margin-right: auto; text-align: center;" cellspacing="30">
	<tr>
		<td>
			<%= label_tag "Your name (required):" %><br />
			<%= text_field_tag "name" %>
		</td>
		<td rowspan="2">
			<%= label_tag "Your message:" %><br />
			<%= text_area_tag "message" %>
		</td>
	</tr>
	<tr>
		<td>
			<%= label_tag "Your email:" %><br />
			<%= text_field_tag "email" %>
		</td>
	</tr>
	<tr>
		<td colspan="2"><%= submit_tag "Send Message" %></td>
	</tr>
</table>
<% end %>
</div>