<script>
$(function() {
	$( "#accordion" ).accordion();
});
</script>

<h1 id="nav-header">Member Directory</h1>
<div class="contentlines"></div>

<h5>To view more information for a particular directory, click on the member's name to expand the information.</h5>

<div id="accordion">

	<% @users.each do |user| %>
	<h3>&nbsp;<a href="#"><%=h user.nice_name %></a></h3>
	<div>
		<table class="users">
			<tr>
				<td colspan="2">
				<h2>
					Member Contact Information 
					<% if can?(:modify, user) && user == current_user %>
						<%= link_to(image_tag('edit.png', :border => 0, :size => "15x15"), edit_my_account_path) %>			
					<% elsif can?(:modify, user) %>
						<%= link_to(image_tag('edit.png', :border => 0, :size => "15x15"), edit_user_path(user.id)) %>
					<% end %>
				</h2>
				</td>
			</tr>
			
			<tr>
				<!-- left column -->
				<td valign="top" width="125" class="directory_picture">
					<p>
						<%= image_tag user.photo.url(:medium) %>
					</p>

				</td>

				<!-- right column -->
				<td valign="top" width="400">
					<p>
						<strong>Email:</strong>
						<%= user.email %>
					</p>

					<p>
						<strong>Major:</strong>
						<%= user.get_major %>
					</p>
					
					<p>
						<strong>Year:</strong>
						<%= user.get_class %>
					</p>


				</td>
			</tr>

		</table>
	</div>
	<%end%>
</div>
<br />
<br />

