<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Date:</b>
	<%= show_date(@event.start_date, @event.end_date) %>
</p>

<p>
  <b>Time:</b>
	<%= show_time(@event.start_time, @event.end_time) %>
</p>
<% if logged_in? && current_user.admin? %>
<p>
  <b>User:</b>
  <%= @event.user.nice_name %>
</p>
<% if can? :modify, Event %>
<p>
  <b>Active:</b>
  <%= @event.active %>
</p>
<p>
  <b>Status:</b>
  <%= @event.get_status %>
</p>
<% end %>
<% end %>


<% if logged_in? %>
	<% if @event.registration == false %>
	<table>
		<tr>
			<td><%= button_to "Register", { :controller => 'registrations', :action => 'create' }, :disabled => true %></td>
			<td><strong>Registration for this event is closed.</strong></td>
		</tr>
	</table>
	<% elsif !@event.free_space? %>
	<table>
		<tr>
			<td><%= button_to "Register", { :controller => 'registrations', :action => 'create' }, :disabled => true %></td>
			<td><strong>This event is full.</strong></td>
		</tr>
	</table>
	<% elsif check_member_registration(@event, current_user) %>
	<table>
		<tr>
			<td><%= button_to "Register", { :controller => 'registrations', :action => 'create' }, :disabled => true %></td>
			<td><strong>You are already registered for this event.</strong></td>
		</tr>
	</table>
	<% else %>
		<p><%= button_to "Register", { :controller => 'registrations', :action => 'create' } %></p>
	<% end %>
    <% if can? :modify, Event %>
		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Back', events_path %>
	<% end %>
<% end %>
