<h1>Listing position_members</h1>

<table class="datagrid">
	<thead class="datagrid">
		<th>Position</th>
		<th>User</th>
		<th>Active</th>
		<th></th>
		<th></th>
	</thead>

	<% @position_members.each do |position_member| %>
	<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= link_to position_member.position.name, position_member.position %></td>
		<td><%= link_to position_member.user.nice_name, show_profile_path(position_member.user.id) %></td>
		<td><%= position_member.active %></td>
		<td><%= link_to image_tag('edit.png', :border => 0, :size => "20x20"), edit_position_member_path(position_member) %></td>
		<td><%= link_to image_tag('trash.gif', :border => 0, :size => "20x20"), position_member, :confirm => 'Are you sure?', :method => :delete  %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Position member', new_position_member_path %>
