<table class="datagrid">
	<thead class="datagrid">
		<th>Position</th>
		<th>User</th>
	</thead>
	<%= form_tag :action => "save_executive_board" do %>
	<% for position in @eboard_positions %> 
	<%= fields_for "eboard[]", @new_eboard_member = PositionMember.new do |f| %>   
	<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= position.name %><% @new_eboard_member.position_id = position.id  %><%= f.hidden_field :position_id %></td>
		<td><%= f.collection_select :user_id, User.all, :id, :nice_name, :prompt => "Please select a member.", :include_blank => true %></td>
	</tr>
	<% end %>  
	<% end %>
	<tr>
		<td colspan="2" style="margin-left: auto; margin-right: auto; text-align: center"><%= submit_tag "Save Changes" %></td>
	</tr>
	<% end %>
	
</table>