<!DOCTYPE html>
<html>
<head>
	<title>NSBE::Carnegie Mellon</title>
	<%= stylesheet_link_tag 'layout', 'jquery-ui-1.8.7.custom' %>
	<%= javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.7.custom.min', 'application' %>
	<%= csrf_meta_tag %>


</head>
<body>
	<script>
	$(function() {
		$( "input:submit" ).button();
	});
	</script>

	
	<div id="container">
		<div id="header">
			<div id="navigation">
				<ul id="menu">
					<li class="menu">
						<%= link_to(root_url) do %>
					    	Home<br /><%= image_tag('home.png') %>
						<% end %>
					</li>  	
					<li class="menu">	
						<%= link_to(events_path) do %>
					    	Events<br /><%= image_tag('events.png') %>
					  	<% end %>
					</li>
					<li class="menu">
						<%= link_to(directory_path) do %>
					    	Directory<br /><%= image_tag('directory.png') %>
					  	<% end %>
					</li>
					<li class="menu">
						<%= link_to(officers_path) do %>
					    	Officers<br /><%= image_tag('officers.png') %>
					  	<% end %>
					</li>
					<li class="menu">
						<%= link_to(contact_path) do %>
					    	Contact<br /><%= image_tag('contact.png') %>
					  	<% end %>
					</li>
				</ul>
			</div>
		</div>

		<div id="content">
			<%= show_flash_message(:fade => 10) %>
			<%= yield %>
		</div>

		<div id="footer"></div>
	</div>
</body>
</html>
