<!DOCTYPE html>
<html>
<head>
	<title>Carnegie Mellon :: National Society of Black Engineers</title>
	<%= stylesheet_link_tag 'layout', 'jquery-ui-1.8.7.custom', 'datagrid', 'nivo-slider' %>
	<%= javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.7.custom.min', 'application', 'jquery.nivo.slider.pack' %>
	<%= csrf_meta_tag %>
</head>
<body>
	<script>
	$(function() {
		$( "input:submit" ).button();
	});
	</script>
	
	<div id="login-container">
		<div id="signin_menu" >
			<%= form_tag session_path do -%>
				<p>
					<label for="login">Username</label><br/>
					<%= text_field_tag 'login' %>
				</p>

				<p>
					<label for="password">Password</label><br/>
					<%= password_field_tag 'password' %>
				</p>

				<p>
					<label for="remember_me">Remember me:</label><%= check_box_tag 'remember_me' %><br /><br />
					<%= submit_tag 'Log in', :class => 'sigin_submit' %>
				</p>

				<p>
					Forgot Password? <%= link_to 'Click Here', "#", { :class => 'resetpassword' } %>
				</p>
			<% end -%>
		
			</div>
				<ul>
					<% if !logged_in? %>

					<script type="text/javascript">
					$(document).ready(function() {
						$(".signin").click(function(e) {
							e.preventDefault();
							$("#signin_menu").slideToggle(1000, function() {
								// Animation complete.
							});
							if ($( "#reset_password_box" ).dialog("isOpen") == true) {
								$( "#reset_password_box" ).dialog('close');						
							}
						});
					});
					</script>

						<li><%= link_to 'Register', signup_path %></li>
						<li class="signin">Login</li>
					<% else %>
						<li><%= link_to 'My Account', my_account_path %></li>
						<li><%= link_to 'Logout', logout_path %></li>
					<% end %>
				</ul>

	</div>
	<div id="container">
		<% @number = rand(2) %>
		<div id="header">
			<% if (@number == 0) %>
			<div id="logo">
				
				<%= raw(link_to(image_tag('nsbe2.gif', :width => 125, :border => 0), root_url)) %>
				<br />
				<%= image_tag 'cmu.png', :width => 125 %>
			</div>
			<% else %>
			<div id="logo2">
				<%= raw(link_to(image_tag('about-nsbe2.png', :width => 225, :border => 0, :class => "logo"), root_url)) %>				
				<br />
				<%= image_tag 'cmu.png', :width => 125, :class => "logo_text" %>
			</div>
			<% end %>
			<div id="banner">
				<%= image_tag 'cmu_banner_panorama.jpg', :width => 900 %>
			</div>
		</div>
		<div id="main">
			<div id="navigation">
				<ul id="menu">
					<%= make_link "Home", root_url, "nav/home.png" %>
					<%= make_link "Events", events_path, "nav/events.png" %>
					<%= make_link "Directory", directory_path, "nav/directory.png" %>
					<%= make_link "Chapter", chapter_path, "nav/officers.png" %>
					<%= make_link "Contact", contact_path, "nav/contact.png" %>
					<%= make_link "About", about_path, "nav/about.png" %>
				</ul>
			</div>

			<%= show_flash_message(:fade => 10) %>

			<div id="content">
				<script>
				$(function() {
					$( "#reset_password_box" ).dialog({ autoOpen: false });
				});

				$(".resetpassword").click(function(e) {
					e.preventDefault();
					if ($( "#reset_password_box" ).dialog("isOpen") == true) {
						$( "#reset_password_box" ).dialog('close');						
					} else {
						$( "#reset_password_box" ).dialog("open");
					}
				});
				</script>
				<div id="reset_password_box">
					<%= form_tag '/reset_password' do %>

					<p><label for="email">Email</label><br/>
						<%= text_field_tag :email, params[:email] %></p>

						<%= submit_tag 'Reset password' %>

						<% end %>
					</div>
					<%= yield %>
				</div>
			</div>

		<div id="footer"></div>
	</div>
</body>
</html>
